@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


/* you can use the "*" which applies to all styles in this sheet and run this to see changes made. The above will show a grey line around each div so you can see changes. especially if its small */

/* html {
    font-family: 'Titillium Web', sans-serif;
    background-color: #fff;
}

body {
    margin: 0;
}

header {
    text-align: left;
    color: mediumvioletred
    padding: o;
    margin: 0;
    font-family: Arial;
    font-size: 20px;
} */

main {
    border: 2px dotted lightgray;
    border-radius: 25px;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;;
    color: mediumvioletred;
}

.dog-profile {
    font-size: 20px;
    color: black

}

h2 {
    font-size: 3rem;
    line-height: 3rem;
    color: black;
}

nav {
    text-align: right;
    margin: 0px;
    padding: 20px;
    color: black;
    width: 20em;
}


div {
    padding: 10px;
}

image-1 {
    width: 100%;
    height: 60vh;
    object-fit: none;
    object-position: right;
}

footer {
    text-align: center;
    background-color: #6b469a;
    padding: 10px;
    color: #fff;
}

#homepage-image {
    width: 300px;
    height: 200px;
    border: 3px dashed #4287f5
}